body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", 'helvetica', "acumin-pro", 'arial', sans-serif;
    /* font-family: 'Neue Helvetica W02', 'Neue Helvetica', 'Helvetica', Arial, sans-serif; */
    font-size: 14px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    width: 100%;
}
.shadow-effect {
    -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 0 rgb(0 0 0 / 10%) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 0 rgb(0 0 0 / 10%) inset;
}
.ui-block {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid  #e6ecf5;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
}
.textCut{
    width: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-header{
    background-color: #6e6e6e;
    color: #ffffff;
}
.header-spacer{
    display: block;
    height: 80px;
}
.ui-block-title {
    padding: 25px 10px;
    line-height: 1;
    border-bottom: 1px solid var(--color-border-bottom);
    display: table;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
    background-color: #212121;
    color: #ffffff;
}

.ui-block-title h6 {
    font-size: 14px ;
    color: yellow;

}
.notification-list li {
    padding: 5px 5px;
    border-top: 1px solid #6e6e6e;
    position: relative;
    transition: all 0.3s ease;
    list-style-type:none;
}
.notification-friend{
    font-size:10px
}
.inline-items{
    border-bottom: 1px solid #6e6e6e;
}
.notification-item{
    font-size: 11px;
    margin-top: 5px;
}
.inline-items button{
    font-size: 11px;
}
.notification-footer{
    background-color: #282c34;
    color: #ffffff;
}
.notification-footer-item{
    float: left;
    margin-left: 35px;
}
.notification-footer-select{
    float: left;
    margin-left: 15px;
    width: 80px;
    height: 25px;
    margin-bottom: 20px;
}